<h1>This is Login Page </h1>

<form action="/Home/Login" method="post">
    <input type="text" name="username" value="" />
    <input type="password" name="password" value="" />
    <input type="submit" value="Submit"/>
</form>